.field {
    width: 100%;
    padding: 0 .5em;
    margin-bottom: 1em;


    label {
        display: block;
        font-weight: bold;
        color: $bg-color-article;

    }

    input[type=text],input[type=email],textarea {
        width: 100%;
        padding: .5em;
        border: none;
        color: black;
        background-color: lighten(white, 5);
        // margin-bottom: .7em;
    }

    textarea {
        resize: none;
        height: 10em;
    }

    input[type=submit] {
        background-color: lighten($bg-color-article, 10);
        color: $bg-color;
        font-weight: 700;
        text-transform: capitalize;
        padding: .3em;
        border: none;
        border-radius: 3px;
    }

    &.is-half {
        width: 100%;

    }
}