.footer {

    &__logo {

        position: absolute;
        top: -3em;

        img{
            width: 6em;
            height: 6em;
        }

    }

    &__social-nav {
        margin-top: 5em;
    }

    &__social {
        padding: 0 .5em;
        transition-property: transform;
        transition-duration: .35s;
        img {
        width: 3em;
        height: 3em;
        }
        img:hover {
            transform: translateY(-20px);
            transition: all ease-in-out 150ms;
        }
    }


}