.header {

    &__home {
        font-family: $font-header;
        font-size: $font-size-navbar-home;
        color: $color-text-alt;


    }

    ul a {
        font-family: $font-header;
        font-size: $font-size-navbar-link;
        color: $color-text;


    }

}

@media (min-width: $breakpoint-large) {
    .header li a {
        padding: 1em;
        font-size: 50px;
      }

}
