
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bg-color-article;
    margin: 7em 0 6em 0;
    position: relative;

    &__image {
        // display: flex;
        // justify-content: center;
        text-align: center;
        position: absolute;
        top: -5em;
        width: 30em;
        height: 30em;


        img {
            width: 35%;
            height: 35%;
            border-radius: 50%;
        }
    }

    &__text {
        margin: 5.5em 1em 1em 1em;
        border: solid 2px $bg-color;
        padding: 1em;
        color: $color-text;
        font-size: $font-size;
        font-family: $font-text;
        text-align: center;

    }
}

@media (min-width: $breakpoint-large){
    .article {
        position: relative;
        width: 70em;
        height: max-content;
        margin-bottom: 10em;
        &:last-child {
            margin-bottom: 4em;
        }


        &__image {
            position: absolute;
            top: -13em;
            width: 40em;
            height: 40em;

            img {
                width: 50%;
                height: 50%;

            }
        }

        &__text {
            width: 70%;
            margin: 6.5em 1em 1em 1em;
        }

        p, strong {
            font-size: 25px;
        }

        h1 {
            text-decoration: underline;
        }
    }
}